@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
  display:block
}

@media(max-width:640px){
  a.active{
      background-color: black;
      color:white
  }
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important; /* Adjust text color if needed */
}

